.password-container {
    position: relative;
    width: 100%;
}

.form-grupo {
    position: relative;
    display: flex;
    flex-direction: column;
}
#togglePassword {
    position: absolute;
    right: 15px;
    top: 42px;
    color: #6c757d;
    cursor: pointer;
    z-index: 10;
}

.input-institucional {
    width: 100%;
    padding: 12px 45px 12px 15px;
}